body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f4f6f8;
}

header{
    background:#1e2a38;
    color:white;
    padding:20px;
    text-align:center;
}

nav{
    background:#2f3e50;
    padding:10px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

nav a:hover{
    color:#00bcd4;
}

.container{
    width:90%;
    max-width:1000px;
    margin:auto;
    padding:30px;
}

img{
    max-width:100%;
    border-radius:10px;
}

.card{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    margin-bottom:30px;
}

footer{
    background:#1e2a38;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:40px;
}

/* карусель */

.carousel{
    display:flex;
    overflow:auto;
    gap:20px;
}

.carousel img{
    width:250px;
}